



.main-header {
        padding: 40px;
        text-align: center;
        background: #13293d;
        color: #fff;

}




nav {
        display: flex ;
        justify-content: center;
        background-color: #d8a47f;
}

nav a {

color: #13293d;
padding: 14px 20px;
text-decoration: none;
text-align: center;
}

    
main {
flex-wrap: wrap;
margin: 2%;
}


.card {
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.SEO {
  position: relative;
  text-align: center;
  color: white;
}

.project2 {
  position: relative;
  text-align: center;
  color: white;
  max-width: 50%;
}

.project3 {
  position: relative;
  text-align: center;
  color: white;
  max-width: 50%;
}

.project4 {
  position: relative;
  text-align: center;
  color: white;
  max-width: 50%;
}


.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

@media (min-width: 900px){
.card {
  display: flex;
}
}

.card header {
  min-width: 400px;
  padding: 20px;
  background: #13293d;
  color: #fff;
}

.cardContent {
  flex: 1;
  padding: 20px;
}



.card img {
  width: 100%;
  min-width: 400px;
}
